/target
/lib
/classes
/checkouts
pom.xml
dev-config.edn
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port

/.calva/output-window/
/.clj-kondo/.cache/
/.lsp/.cache
/.vscode
/db-dumps/*.sql
/db-dumps/old/
/log
/node_modules
