{% extends "base.html" %}
{% block content %}
<div class="content">
  <h3>2022 情報応用</h3>
  <div style="margin-left:1rem;">
    <p>📆 出席記録・授業資料
      (<a href="https://ict-t.el.kyutech.ac.jp/course/view.php?id=13125">tue1</a> |
       <a href="https://ict-t.el.kyutech.ac.jp/course/view.php?id=13126">tue2</a> |
       <a href="https://ict-t.el.kyutech.ac.jp/course/view.php?id=13124">thr1</a> |
       <a href="https://ict-t.el.kyutech.ac.jp/course/view.php?id=13122">thr2</a>)</p>
    <p>🛠 <a href="http://p.melt.kyutech.ac.jp/CHANGELOG.html">CHANGELOG</a></p>
    <p>🚧 <a href="https://p.melt.kyutech.ac.jp/">作業中サイト</a> (need VPN)</p>
    <p>🧮 <!-- <a href="/register">アカウント作成</a> /-->
      <a href="/password">パスワード変更</a>
      (VPN 不可。アカウント作成は終了。あとは個別対応)</p>
    <p>🙋‍♀️ <a href="https://wil.melt.kyutech.ac.jp">WIL</a></p>
    <p>🐍 <a href="https://py99.melt.kyutech.ac.jp">Py99</a></p>
    <p>👍 <a href="https://qa.melt.kyutech.ac.jp" target="_blank">
          Q &amp; A</a></p>
    <p>🔥 <a href="https://mt.melt.kyutech.ac.jp" target="_blank">
       literacy micro twitter</a></p>
    <p>🌏 <a href="https://w.hkim.jp">where is hkimura?</a></p>
    <p>📂 <a href="https://p.melt.kyutech.ac.jp/data/python-20221004.zip">
      python.zip</a> (VPN)</p>
  </div>

  <hr>

  <h3>2022 情報リテラシー</h3>
  <ul>
    <li>補講と最終試験:<br>
      <ul>
      <li>水曜(9/28) 10:00- (216 室、214 の斜め前にある）</li>
      <li>木曜(9/29) 14:00- (216 室、214 の斜め前にある）</li>
        <p>参加者は自分のできない箇所を 3 つ、質問として持ってくること。
        全部わからないってのは論外。姿勢が問われる。きちんと準備して最終試験に臨むこと。
        最終試験は 9/30 金曜日 15:00-, C-2F。</p>
      </ul></li>

    <li>追試験 8/10 (水) 1 時間目 C-2A.
      追試対象者は 8/8 12:00 にこのページで発表します。</li>

      <li>出席記録・授業資料 (
      <a href="https://ict-t.el.kyutech.ac.jp/course/view.php?id=12268"
         target="_blank">wed1</a>
      |
      <a href="https://ict-t.el.kyutech.ac.jp/course/view.php?id=12265"
         target="_blank">wed2</a> )
    </li>

    <li><a href="https://l.melt.kyutech.ac.jp" target="_blank">
        非公式ページ</a> (need VPN)</li>

    <li><a href="https://github.com/zhiyzuo/python-tutorial">
        python-tutorial</a>
      1-, 2-, 4- が「反転授業」でやる内容。予習しないで授業に来ちゃだめ。</li>

    <li>アカウント作成/パスワード変更(7 週終わり。これからのアカウント作成は無効)</li>
  </ul>

  <hr>

  <div style="margin-left:1rem;">
    <p>🐍 <a href="https://jh.melt.kyutech.ac.jp" target="_blank">
      Python インストールできない人用</a> (need VPN, アカウントはいつものとは別)
    <p>📝 <a href="https://rp.melt.kyutech.ac.jp" target="_blank">
       レポートアップロード・ブラウズ・「いいね」ページ</a> (need VPN)
    <p>🌈 <a href="https://tp.melt.kyutech.ac.jp" target="_blank">
        Typing</a>(アカウント必要な人は 214 へ)</p>
    <p>👍 <a href="https://qa.melt.kyutech.ac.jp" target="_blank">
        Q &amp; A</a></p>
    <p>🔥 <a href="https://mt.melt.kyutech.ac.jp" target="_blank">
       literacy micro twitter</a></p>
    <p>🌏 <a href="https://w.hkim.jp">where is hkimura?</a></p>
    <p>🌞 <a href="http://l.melt.kyutech.ac.jp:8000">clock & weather</a>
      (授業で見せたプログラムを発展させた。時々死ぬがメンテはサボる。need VPN)</p>
    <!-- <p>🍺 <a href="/admin/users">admin only</a></p>-->
  </div>

  <hr>
  <h3>2021 情報応用</h3>

  <ul>
    <li><a href="https://r.melt.kyutech.ac.jp">
        2021 情報処理応用</a> (need VPN)</li>
    <li><a href="https://r99.melt.kyutech.ac.jp">
        2021 r99</a>(frozen)</li>
  </ul>
</div>
{% endblock %}
