{% extends "base.html" %}
{% block content %}
<div class="content">
  {% if flash %}
  <div class="admin">
  {{flash}}
  </div>
  {% endif %}
  <ul>
    <li>出席記録・授業資料 (
      <a href="https://ict-t.el.kyutech.ac.jp/course/view.php?id=12268"
         target="_blank">wed1</a>
      |
      <a href="https://ict-t.el.kyutech.ac.jp/course/view.php?id=12265"
         target="_blank">wed2</a> )
    </li>
    <li><a href="https://l.melt.kyutech.ac.jp" target="_blank">
       非公式ページ</a> (need VPN)</li>
    <li><a href="/register">アカウント作成</a>
      /
      <a href="/password">パスワード変更</a></li>
  </ul>

  <div style="margin-left:1rem;">
    <p>✍️<a href="https://rp.melt.kyutech.ac.jp" target="_blank">
       レポートアップロード・ブラウズ・「いいね」ページ</a> (need VPN)
    <p>🌈 <a href="https://tp.melt.kyutech.ac.jp" target="_blank">
        Typing</a></p>
    <p>👍 <a href="https://qa.melt.kyutech.ac.jp" target="_blank">
        Q &amp; A</a></p>
    <p>🔥 <a href="https://mt.melt.kyutech.ac.jp" target="_blank">
       literacy micro twitter</a></p>
    <p>㊙️ <a href="https://w.hkim.jp">where is hkimura?</a></p>
    <p>🌞 <a href="http://l.melt.kyutech.ac.jp:8000">clock & weather</a>
      (授業で見せたプログラムを発展させた。時々死ぬがメンテはサボる。need VPN)</p>
    <p>🍺 <a href="/admin/users">admin only</a></p>
  </div>

  <hr>

  <ul>
    <li><a href="https://r.melt.kyutech.ac.jp">
        2021 情報処理応用</a> (need VPN)</li>
    <li><a href="https://r99.melt.kyutech.ac.jp">
        2021 r99</a></li>
  </ul>
</div>
{% endblock %}
