{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h1>Register</h1>
    <p>一度だけです。慎重に。</p>
    <form method="post">
      {% csrf-field %}
      {% if errors.sid %}
      <div class="notification is-danger">
        {{errors.sid|join}}
      </div>
      {% endif %}
      <div class="columns">
        <div class="column">
          <input name="sid" placeholder="学生番号" value="{{sid}}"> 半角英数字
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <input name="name" placeholder="氏 名" value="{{name}}"> 日本語 OK
        </div>
      </div>

      {% if errors.login %}
      <div class="notification is-danger">
        {{errors.login|join}}
      </div>
      {% endif %}
      <div class="columns">
        <div class="column">
          <input name="login" placeholder="アカウント" value="{{login}}"> 半角英数字、8文字以内で。
        </div>
      </div>

      {% if errors.password %}
      <div class="notification is-danger">
        {{errors.password|join}}
      </div>
      {% endif %}
      <div class="columns">
        <div class="column">
          <input name="password" placeholder="パスワード" value="{{password}}"> 授業終了まで忘れんな。
        </div>
      </div>

      <div>
        <br>
        <input type="submit" class="button is-primary is-small" value="登録">
      </div>
    </form>
  </div>
{% endblock %}