{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h1>Register</h1>
    <form method="post">
      {% csrf-field %}
      {% if errors.sid %}
      <div class="notification is-danger">
        {{errors.sid|join}}
      </div>
      {% endif %}
      <div>
      <input name="sid" placeholder="学生番号"> 半角英数字
      </div>
      <div>
      <input name="name" placeholder="氏 名"> 日本語 OK
      </div>
      {% if errors.login %}
      <div class="notification is-danger">
        {{errors.login|join}}
      </div>
      {% endif %}
      <div>
      <input name="login" placeholder="アカウント"> 半角英数字、8文字以内で。
      </div>
      <div>
      <input name="password" placeholder="パスワード"> 忘れんな。
      </div>
      <div>
      <input type="submit" class="btn btn-primary" value="登録">
      </div>
    </form>
  </div>
{% endblock %}