{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>All Users</h2>
    <table class="table">
      <tr>
        <th></th>
        <th>sid</th>
        <th>login</th>
        <th>name</th>
        <th>is_admin</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    {% for u in users %}
      <tr>
        <td><form method="post" action="/admin/delete"
          onSubmit="return confirm('delete?')">
          {% csrf-field %}
          <input name="login" type="hidden" value="{{u.login}}">
          <input type="submit" value="DEL" class="button is-danger is-small"></form></td>
        <td>{{u.sid}}</td>
        <td>{{u.login}}</td>
        <td>{{u.name}}</td>
        <td>{{u.is_admin}}</td>
        <td>{{u.created_at}}</td>
        <td>{{u.updated_at}}</td>
      </tr>
    {% endfor %}
    </table>

  </div>
{% endblock %}
