{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Users</h2>
    <table class="table">
      <tr>
        <th>login</th>
        <th>updated_at</th>
        <th>created_at</th>
      </tr>
    {% for u in users %}
      <tr>
        <td><a href="/user/{{u.id}}">{{u.login}}</a></td>
        <td>{{u.updated_at|date:mediumDateTime}}</td>
        <td>{{u.created_at|date:mediumDateTime}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
  <p><a href="/">back</a></p>
{% endblock %}
